@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h4>Cadastro de Funcionario</h4>
                <span class="font-italic">Preencha os campos abaixo</span>
                <hr />

                <input type="hidden" id="idEditar" />
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome e sobrenome">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="data">Date de Nascimento:</label>
                        <input type="date" class="form-control" id="data">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="salario">Salário:</label>
                        <input type="text" class="form-control money" id="salario" placeholder="0,00">
                    </div>
                    <div class="form-group col-md-12 d-flex justify-content-center mt-4 mb-0">
                        <button onclick="Cadastrar()" id="cadastrar" type="button" class="btn btn-primary btn-sm mr-1">Cadastrar</button>
                        <button onclick="LimparCampos()" type="button" class="btn btn-secondary btn-sm ml-1">Limpar Campos</button>
                    </div>
                </div>
                <br /><br />

                <div id="divListarFuncionarios" class="table-responsive-sm"></div>

            </div>
        </div>
    </div>

</div>

<!-- Modal Confirmação -->
<div class="modal fade" id="modalConfirmacao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="hidden" id="idExcluir" />
            <div class="modal-body">
                Tem certeza que deseja excluir esse item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="ConfirmarExclusao()">Confirmar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Boas Vindas -->
<div class="modal fade" id="modalBoasVindas" tabindex="-1" role="dialog" aria-labelledby="modalBoasVindas" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content bg-blue-gradient">
            <div class="modal-header">
                <h5 class="modal-title font-weight-700 text-light" id="exampleModalLongTitle">Seja bem-vindo!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-light">
                Esse é um sistema de simulação para cadastro de <strong>Funcionários e Dependentes</strong> de uma empresa.
                <br />
                Onde a tela inicial é o cadastro do Funcionário, acessando o menu no item "Dependentes" você consegue fazer o cadastro vinculando o Dependentes ao Funcionário.
                <br />
                Divirta-se testando!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning font-weight-700" data-dismiss="modal">Vamos-lá!</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/funcionario/index.js" asp-append-version="true"></script>
<script src="~/js/funcionario/criar.js" asp-append-version="true"></script>
<script src="~/js/funcionario/editar.js" asp-append-version="true"></script>
<script src="~/js/funcionario/excluir.js" asp-append-version="true"></script>